site_name: Netcoin
site_url: https://netcoin-ntc.github.io/netcoin-docs
repo_url: https://github.com/netcoin-ntc/netcoin-core
repo_name: netcoin-ntc/netcoin-core
edit_uri: edit/main/docs/

nav:
  - Home: index.md
  - Overview: overview.md
  - Features: features.md
  - CLI Reference: cli.md
  - DevNet Guide: devnet_guide.md
  - Architecture: architecture.md

theme:
  name: material
  palette:
    primary: blue
    accent: blue
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.select
  favicon: assets/images/favicon.ico
  logo: assets/images/logo.svg

plugins:
  - search
  - git-revision-date-localized:
      enable_creation_date: true

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/netcoin-ntc/netcoin-core

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
