site_name: Netcoin Documentation
site_description: Privacy-focused cryptocurrency documentation
site_author: Netcoin Team
site_url: https://netcoin-ntc.github.io/netcoin-docs

repo_name: netcoin-ntc/netcoin-ntc
repo_url: https://github.com/netcoin-ntc/netcoin-ntc

theme:
  name: material
  palette:
    primary: blue
    accent: blue
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - toc.follow
    - search.suggest
    - search.highlight

plugins:
  - search
  - git-revision-date-localized:
      enable_creation_date: true

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - meta
  - toc:
      permalink: true
  - attr_list
  - admonition

nav:
  - Home: index.md
  - Testing Guide: testing_guide.md
  - Architecture: architecture.md
